
doctype html
html 
  head
    title #{docTitle}
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="main.css" rel="stylesheet")
    block styles
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__list-items
          li
            a(href="/shop" class=path === "/shop" ? "active": "") Shop
          li
            a(href="/add-product" class=path === "/add-product" ? "active": "") Add product
          li
            a(href="/users" class=path === "/users" ? "active" : "" ) users

    block content