* {
    font-family: Arial, Helvetica, sans-serif;
    --green: #1d8871;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.main-header {
    background-color: var(--green);
    padding: 2rem;
}

.main-header__list-items {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-header__list-items li {
    list-style: none;
}

.main-header__list-items li a {
    border: 1px solid white;
    color: white;
    background-color: var(--green);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-transform: capitalize;
    text-decoration: none;
}

.main-header__list-items li a:hover {
    border: 1px solid white;
    color: var(--green);
    background-color: white;
}

.main-section {
    width: 100vw;

    display: flex;
    flex-direction: column;
}

.main-aside__welcome {
    padding: 2rem;
}

.main-aside__form {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img {
    width: 100%;
    height: auto;
}

.main {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 100vh;
}

.grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    gap: 2rem;
}

.card-product__item {
    height: 60vh;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 0px 10px 1px #999;
    padding-bottom: 1rem;
    position: relative;
}

.card-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    text-align: center;
    height: 6vh;
    width: 100%;
    background-color: white;
}

.card-image {
    position: absolute;
    transform: translateY(5%);
    z-index: -1;
}

.card-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.card-content {
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.card-product_text {
    line-height: normal;
}

.card-button__buy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    text-align: center;
    padding: 0.5rem;
}

.card-button__buy a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 2rem;
    line-height: 0;
    margin: 0;
    padding: 0;
    background-color: var(--green);
    color: white;
    text-decoration: none;
}

.card-button__buy button {
    width: 10rem;
    height: 2rem;
    border: none;
    color: white;
    background-color: var(--green);
}

.active {
    color: yellow !important;
    border: 1px solid yellow !important;
}

.footer {
    margin-top: 5rem;
    width: 100vw;
    background-color: #1d8871;
    height: 40vh;
    display: flex;
    justify-content: center;
    bottom: 0;
}
